trunk/TCC/CodigoFonte/HospitalClient01/src/conf/xml-resources/web-service-references/IntegraWS/wsdl/localhost_8080/IntegradorServer/IntegraWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Integrador.gov.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Integrador.gov.br/" name="IntegraWS">
<types>
<xsd:schema>
<xsd:import namespace="http://Integrador.gov.br/" schemaLocation="http://localhost:8080/IntegradorServer/IntegraWS?xsd=1"/>
</xsd:schema>
</types>
<message name="RecebeDados">
<part name="parameters" element="tns:RecebeDados"/>
</message>
<message name="RecebeDadosResponse">
<part name="parameters" element="tns:RecebeDadosResponse"/>
</message>
<message name="RecebeDadosPaciente">
<part name="parameters" element="tns:RecebeDadosPaciente"/>
</message>
<message name="RecebeDadosPacienteResponse">
<part name="parameters" element="tns:RecebeDadosPacienteResponse"/>
</message>
<message name="GravaPaciente">
<part name="parameters" element="tns:GravaPaciente"/>
</message>
<message name="GravaPacienteResponse">
<part name="parameters" element="tns:GravaPacienteResponse"/>
</message>
<portType name="IntegraWS">
<operation name="RecebeDados">
<input wsam:Action="http://Integrador.gov.br/IntegraWS/RecebeDadosRequest" message="tns:RecebeDados"/>
<output wsam:Action="http://Integrador.gov.br/IntegraWS/RecebeDadosResponse" message="tns:RecebeDadosResponse"/>
</operation>
<operation name="RecebeDadosPaciente">
<input wsam:Action="http://Integrador.gov.br/IntegraWS/RecebeDadosPacienteRequest" message="tns:RecebeDadosPaciente"/>
<output wsam:Action="http://Integrador.gov.br/IntegraWS/RecebeDadosPacienteResponse" message="tns:RecebeDadosPacienteResponse"/>
</operation>
<operation name="GravaPaciente">
<input wsam:Action="http://Integrador.gov.br/IntegraWS/GravaPacienteRequest" message="tns:GravaPaciente"/>
<output wsam:Action="http://Integrador.gov.br/IntegraWS/GravaPacienteResponse" message="tns:GravaPacienteResponse"/>
</operation>
</portType>
<binding name="IntegraWSPortBinding" type="tns:IntegraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RecebeDados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecebeDadosPaciente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GravaPaciente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IntegraWS">
<port name="IntegraWSPort" binding="tns:IntegraWSPortBinding">
<soap:address location="http://localhost:8080/IntegradorServer/IntegraWS"/>
</port>
</service>
</definitions>