trunk/TrabalhoJEE/JavaX.Net/ClientWSDesktop/src/META-INF/wsdl/localhost_58554/ContaLetrasService.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="ContaLetras"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ContaLetrasResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ContaLetrasResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>