TrabalhoJEE/JavaXJava/AlunoWS/WebContent/wsdl/AlunoOperation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://classes.operations" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://classes.operations" xmlns:intf="http://classes.operations" xmlns:tns1="http://entity" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://classes.operations" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entity"/>
   <element name="modifyAlunoGrade">
    <complexType>
     <sequence>
      <element name="aluno" type="tns1:Aluno"/>
      <element name="grade" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyAlunoGradeResponse">
    <complexType>
     <sequence>
      <element name="modifyAlunoGradeReturn" type="tns1:Aluno"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveAluno">
    <complexType>
     <sequence>
      <element name="aluno" type="tns1:Aluno"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveAlunoResponse">
    <complexType>
     <sequence>
      <element name="saveAlunoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entity" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Aluno">
    <sequence>
     <element name="college" nillable="true" type="xsd:string"/>
     <element name="grade" nillable="true" type="xsd:float"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="saveAlunoRequest">

      <wsdl:part element="impl:saveAluno" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyAlunoGradeRequest">

      <wsdl:part element="impl:modifyAlunoGrade" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveAlunoResponse">

      <wsdl:part element="impl:saveAlunoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyAlunoGradeResponse">

      <wsdl:part element="impl:modifyAlunoGradeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AlunoOperation">

      <wsdl:operation name="modifyAlunoGrade">

         <wsdl:input message="impl:modifyAlunoGradeRequest" name="modifyAlunoGradeRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyAlunoGradeResponse" name="modifyAlunoGradeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveAluno">

         <wsdl:input message="impl:saveAlunoRequest" name="saveAlunoRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveAlunoResponse" name="saveAlunoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AlunoOperationSoapBinding" type="impl:AlunoOperation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="modifyAlunoGrade">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyAlunoGradeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyAlunoGradeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saveAluno">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveAlunoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveAlunoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AlunoOperationService">

      <wsdl:port binding="impl:AlunoOperationSoapBinding" name="AlunoOperation">

         <wsdlsoap:address location="http://localhost:8080/AlunoWS/services/AlunoOperation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
